/*-----------------Background + Border-----------------*/

.background {
    background: #fff;
    height: 100%;
    width: 100%;
}
#top, #bottom, #left, #right{
    background: #000;
    position: fixed;
}
#left, #right {
    bottom:0;
    top:0;
    width:50px;
}
#left {left:0;} #right {right:0;}

#top, #bottom {
    height: 50px;
    left: 0; 
    right: 0;
}
#top {top:0;} #bottom{bottom: 0;}


/*-----------------Logo-----------------*/


.logo {
    display: block;
    height: 375px;
    margin: 0 auto;
    margin-top: 105px;
    width: 250px;
}

/*-----------------Email-----------------*/

.email {
    color: #000;
    font-family: "brandon_grotesque_regularRg";
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 50px;
    text-align: center;
}

/*-----------------Instagram-----------------*/

.instagram {
    height:100px;
    margin: 0 auto;
    margin-top: 25px;
    width: 160px;

}
.instagram img {
    display: inline-block;
    height: 20px;
    margin: 0 auto;
    padding-top: 3px;
    vertical-align: middle;
    width: 20px;
}
.text {
    color: #000;
    display: inline-block;
    font-size: 20px;
    font-family: "brandon_grotesque_regularRg";
    letter-spacing: 2px;
    margin-left: 8px;
    vertical-align: middle;
}
.instagram a {
    display: inline-block;
    text-decoration: none;
}
.text:hover {
    color: #C0B283 ;
}

/*-----------------Store Information-----------------*/
.information {
    bottom: 0px;
    color: #fff;
    font-family: "brandon_grotesquebold";
    font-size: 16px;
    letter-spacing: 3px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.rwd-break {
    display: none;
}

/*-----------------Media Queries-----------------*/

@media only screen and (min-width: 350px){
    #bottom {
        height: 80px;
    }
    #left, #right { 
        width: 30px;
    }
    .logo {
        height: 311px;
        margin-top: 80px;
        width: 211px;
    }
    .email {
        margin-top: 70px;
        font-size: 16px;
    }
    .instagram {
        margin-top: 15px;
    }
    .information {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .rwd-break {
        display: block;
    }
    .text {
        font-size: 16px;
    }    
    #top {
        height: 30px;
    }
}

@media only screen and (min-width: 800px){
    .email {
        font-size: 20px;
    }
    .information {
        font-size: 14px;
        margin-bottom: 0px;
    }
    #left, #right { 
        width: 50px;
    }
    .rwd-break {
        display: none;
    }
    .text {
        font-size: 20px;
    }
    #top, #bottom {
        height: 50px;
    }
}

@media only screen and (min-width: 900px){
    .information {
        font-size: 16px;
        margin-bottom: -5px;
    }    
}